:root{
    --primary:#3b72ff;
    --secondary:#a1ecbf;
    --text-color:#000000;
    --third-color:#ffda7A;
    --fourth-color:#50DE89;
    --fonts: 'Montserrat', sans-serif;
    --font-color:#000000;
}